/* Define custom CSS variables for colors */
:root {
  --dark-green: #243119;
  --bone: #DED2BA;
  --ecru: #BCA371;  
  --coyote: #8B7241;
  --sage: #A6B07E;
  --wenge: #63535B;
  --dark-purple: #241023;
  --chocolate-cosmos: #660018;
  --bright-pink: #F9B3BB;
}

/* Apply box-sizing border-box model to all elements */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* Styles for the root HTML element */
html {
  min-width: 300px; /* Minimum width of the viewport */
  font-family: Open Sans, Arial, sans-serif;
  background-color: var(--dark-green);
  font-size: 10px; /* Base font size */
}

/* Styles for the body element */
body {
  box-sizing: border-box; /* Border-box model for the body */
}

/* Apply border-radius to all elements within body */
body * {
  border-radius: 10px;
}

/* Styles for the main content area */
#main-area {
  width: 70%;
  max-width: 700px;
  margin: 0 auto; /* Centering the main area horizontally */
  margin-top: 10vh; /* Top margin based on viewport height */
  text-align: center;
  background-color: var(--ecru);
  padding: 20px;
}

/* Styles for the author name and the project title */
#author-name, .title {
  margin: 20px;
}

#author-name {
  font-size: 3em;
}

.title {
  text-transform: uppercase; /* Uppercase text for the project title */
  font-size: 4em;
}

/* Styles for input area */
.input-area {
  background-color: var(--dark-purple);
  padding: 30px 10px;
  color: white;
  border: solid 2px white;
}

/* Styles for input label, number input, and convert button */
#input-label, #number, #convert-btn {
  width: 70%;
}

#input-label {
  font-size: 2.5em;
}

#number, #convert-btn, #output-result {
  font-size: 3em;
}

#number {
  padding: 10px;
  margin: 20px;
}

#convert-btn {
  height: 2em;
  background: linear-gradient(var(--bone) 0%, var(--ecru) 70%, var(--coyote) 100%);
  border: solid 3px var(--ecru);
}

#convert-btn:hover {
  cursor: pointer; /* Pointer cursor on hover */
}

/* Styles for output area */
#output {
  margin: 20px auto;
  background-color: var(--dark-purple);
  color: white;
  border: solid 2px white;
  align-content: center;
  display: none; /* Initially hidden */
}

#output-result {
  padding: 0.5em;
}

/* Styles for footer */
footer {
  margin-top: 20px;
  font-size: 13px;
  bottom: 0;
  text-align: center;
  color: white;
  font-style: italic;
}

footer a {
  color: var(--bright-pink); /* Link color using custom variable */
}

/* Media queries for responsive design */
@media (max-width: 500px) {
  html {
    font-size: 8px; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 350px) {
  html {
    font-size: 6px; /* Further adjusted font size for smaller screens */
  }
}

